<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788014375931-1gmgdq9hj8qffuru5ievu7m1d3eomp5e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788014375931-1gmgdq9hj8qffuru5ievu7m1d3eomp5e</string>
	<key>API_KEY</key>
	<string>AIzaSyBFGSYcy2YOzy9x6Ag3MGu5vzruro3Pje8</string>
	<key>GCM_SENDER_ID</key>
	<string>788014375931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grigorystolyarov.GBShopping</string>
	<key>PROJECT_ID</key>
	<string>gbshopping-eda32</string>
	<key>STORAGE_BUCKET</key>
	<string>gbshopping-eda32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:788014375931:ios:baebd13e713f7d2fdee15e</string>
	<key>GOOGLE_ANALYTICS_REGISTRATION_WITH_AD_NETWORK_ENABLED</key>
	<false/>
</dict>
</plist>
